body {
    font-family: Arial, sans-serif;
    background: linear-gradient(145deg, #2e003e, #4b0082);
    margin: 0;
    padding: 20px;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #3b3b58;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#chat-container {
    position: relative;
    height: 300px;
    width: 96%;
    overflow-y: auto;
    background-color: #4b006e;
    border: 2px solid #a150f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.moving-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: auto;
}

.editor-container {
    height: 400px;  /* Make editor box taller */
    width: 100%;
    background-color: #2b2d42;
    border: 2px solid #a150f4;
    margin-bottom: 20px;
    border-radius: 8px;
}

#user-input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #a150f4;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button, #audio-toggle-button {
    background-color: #a150f4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover, #audio-toggle-button:hover {
    background-color: #822bbf;
<<<<<<< HEAD
}
/*hi*/
=======
}
>>>>>>> 8415a1c7043a23dd563bf66f9cc9a49e45ffdb40
